<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search book</title>
</head>
<body>

<form th:method="GET" th:action="@{/books/search}" th:object="${book}">
    <label for="bookName">Введите поисковый запрос: </label>
    <input type="text" th:field="*{bookName}" id="bookName">
    <br/>
    <input type="submit" value="Искать!">
</form>

<br/>

<div th:each="book : ${books}" th:unless="${books.isEmpty()}">
    <p th:text="${book.getBookName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></p>
    <p th:text="${'Книга сейчас у: ' + book.getReader()}" th:if="${book.getReader != null}"></p>
    <p th:if="${book.getReader == null}">Книга свободна</p>
</div>

<p th:if="${books.isEmpty()}">Книг не найдено</p>

</body>
</html>